src/main/resources/entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Entity">
        <xs:annotation>
            <xs:documentation>An entity in ALM</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element type="Fields" name="Fields" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="Type" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The entity type, for example, test, test-folder, requirement, defect, etc..
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Fields">
        <xs:annotation>
            <xs:documentation>The collection of fields belong to this entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="Field" name="Field" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Field">
        <xs:annotation>
            <xs:documentation>A single field.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="Value" name="Value" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The field name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Value">
        <xs:annotation>
            <xs:documentation>The current value of the field in this entity
                instance. Multi-value fields contain multi-value elements. Reference
                fields contain the ReferenceValue attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="ReferenceValue" type="xs:string"
                              use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>

