deleted/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="demo.hp.com/ali/config" targetNamespace="demo.hp.com/ali/config">
  <xs:element name="config">
      <xs:complexType>
          <xs:sequence>
            <xs:element type="svn" name="svn"/>
            <xs:element type="hudson" name="hudson"/>
            <xs:element type="am" name="am"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
  <xs:complexType name="am">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="url"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="hudson">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="home"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="svn">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="svn-admin"/>
        <xs:attribute type="xs:string" name="repository-path"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>